<p id="notice"><%= notice %></p>

<%= render @post %>

<h2>Comments</h2>
<div id="comments">
	<%= render @post.comments.reverse %>
</div>

<%= form_for [@comment, Comment.new("post_id": @post.id)], remote: true do |f| %>
<p>
	 
	<%= f.hidden_field :post_id %>
	<strong>
	<%= f.label :body, "New Comment" %> <br />
	</strong>
	<%= f.text_area :body %>
	

</p>
<p>
 <%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
